body{
    background-color: beige;
}

.primerElemento{
    color: blue;
    font-size: 20px;
}

#nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}
 #nav li{
    margin: 5px;
    padding: 10px 15px;
 }

 #nav li:hover{
    background-color: rgb(136, 202, 169);
 }
 #nav a{
    text-decoration: none;
 }

 .contenedor{
   display: inline-block;
 }

 .card{
    display: inline-block;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    margin: 20px;
    background-color: rgb(172, 137, 137);
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: white;   
 }

 .card img{
    max-width: 100%;
    height: auto; 
    display: block;
 }

 .card button{
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
 }